.rounded-corners {
  border-radius: 21px;
}
textarea {
  resize: none;
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.items {
  background-color: #f1f1f1;
  width: 92%;
}
