.inner {
  /* position: absolute; */
  height: 312px;
  width: 100%;
}
.mycard {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  margin-top: -1px;
  height: 312px;
  width: 100%;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  /* background-image: url(../../Assets//images/testing.jpeg); */
}
.card-img-top {
  /* position: absolute; */
  height: 312px;
  width: 100%;
  border-bottom-right-radius: 9px;
  border-bottom-left-radius: 9px;
  /* background-image: url(../../Assets//images/testing.jpeg); */
}
.profile-pic {
  /* display: inline; */
  height: 180px;
  width: 180px;
  margin-top: -213px;
}
.bottom {
  border-bottom: none;
}
hr {
  background-color: #dc3545;
  margin-top: 2px;
  margin-bottom: 2px;
}
.my-pics {
  border: lightgray solid 1px;
  height: 320px;
  /* border-top: none; */
  /* padding-top: 3px; */
  margin-top: 16px;
}
.profile-button {
  margin-top: -125px;
  /* margin-bottom: 15px; */
  /* border-radius: 12px; */
  font-size: 17px;
  color: white;
  float: right;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid darkgray;
  border-radius: 9px;
  /* background-color: darkgray; */
  opacity: 1;
  cursor: pointer;
  width: 170px;
  font-weight: 500;
  /* overflow: hidden; */
  outline: none;
}
.save-button {
  margin-top: -125px;
  margin-right: 200px;
  /* margin-bottom: 15px; */
  /* border-radius: 12px; */
  font-size: 17px;
  color: white;
  float: right;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 2px solid darkgray;
  border-radius: 9px;
  /* background-color: darkgray; */
  opacity: 1;
  cursor: pointer;
  width: 100px;
  height: 45px;
  font-weight: 500;
  /* overflow: hidden; */
  outline: none;
}

.profile-button:hover {
  color: white;
  float: right;
  width: 170px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: 1px solid darkgray;
  font-weight: 500;

  opacity: 0.7;
  cursor: pointer;

  outline: none;
}
.change-dp {
  position: absolute;
  margin-left: 45px;
  margin-top: -65px;
  border-radius: 15px;
  font-weight: bolder;
  font-size: large;

  color: white;
  cursor: pointer;
}

.change-dp:hover {
  position: absolute;
  margin-left: 45px;
  margin-top: -65px;
  /* margin-left: 95px;
  margin-bottom: -19px; */
  color: white;
  cursor: pointer;
  font-size: small;
}
.image-upload > input {
  display: none;
}
.image-upload2 > input {
  display: none;
}
